body {
  background-color:#D8BCB5;
}

* {
  margin:0;
  font-family:'Inder';
}

.title {
  padding:20px;
  text-align:center;
  color: #7C3E1D;
  font-size:78px;
}

.wrapper {
  max-width:90%;
  margin: 50px auto;
  display:grid;
  grid-template-columns: 1fr 1fr;
}

.card {
  display:flex;
  width:578px;
  height:214px;
  border-radius:10px;
  margin-bottom:20px;
  background-color: #392C21;
  color:#FFF;
}

.image {
  width:208px;
  height:214px;
  border-radius: 10px 0px 0px 10px;
}

.information-card {
  padding:30px;
}