body {
  background-color:#E3E3E3;
}

* {
  margin:0;
  font-family:'Inder';
}

.title {
  padding:20px;
  text-align:center;
  color: #7C3E1D;
  font-size:78px;
}

.wrapper {
  max-width:90%;
  margin: 50px auto;
  display:grid;
  grid-template-columns: 1fr 1fr;
}

.card {
  display:flex;
  width:578px;
  height:214px;
  border-radius:10px;
  margin-bottom:20px;
  background-color: #392C21;
  color:#FFF;
}

.image {
  width:208px;
  height:214px;
  border-radius: 10px 0px 0px 10px;
}

.information-card {
  padding:30px;
}

.name-character {
  width:100%;
  text-transform:uppercase;
  color:#F9B798;
  font-size:20px;
  font-weight: 400;
}

.btn-character {
  border:none;
  border-radius:10px;
  width:90px;
  height:20%;
  background-color:#D8BCB5;
  position:relative;
  top:90px;
}

.popup {
  height:100%;
}